{% extends "base.html.twig" %}
{% block title %}Create something New | {{ parent() }} {% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>
    Best track list....
</div>

<ul>
    {% for track in tracks %}
    <li>{{ track.song }} - {{ track.artist}} </li>
     {% endfor %}
</ul>

{% endblock %}